body {
    background-color: rgb(221, 221, 221);
}

.calc {
    border: solid 4px rgb(83, 83, 83);
    width: 30em;
    height: 40em;
    background-color: rgb(247, 247, 247);
    border-radius: 2em;
}

.window {
    display: flex;
}
.display {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 0.4em;
    background-color: white;
    width: 20em;
    height: 7em;
    border: solid 2px gray;
    border-radius: 0.4em;
}

.clear {
    margin-top: 2.6em; 
    width: 7.05em;
    height: 7em;
    border-radius: 0.3em;
    font-size: 0.9em;
    background-color: rgb(116, 148, 116);
}

.rows {
    margin-top: 3em;
}

.row-1, .row-2 , .row-3, .row-4 {
    display: flex;
    flex-direction: row;
    /*align-items: flex-end;*/
    justify-content: center;
    gap: 0.2em;
    margin-top: 0.1em;
    
}

button {
    width: 7.05em;
    height: 7.05em;
    border-radius: 0.3em;
    font-size: 0.9em;
}

.orange {
    background-color: orange;
}

button:hover { cursor: pointer;}